<div *ngIf="!this.storeService.addProductMode" class="cards container padding">
    <!-- ? Load the product page -->
    <div *ngIf="this.storeService.mode == false">
      <h1 class="text-center">Our Products</h1>
      <hr />
      <app-store-list class="row padding"></app-store-list>
    </div>
  </div>
  
  <div *ngIf="this.storeService.mode == true">
    <router-outlet class="row padding"></router-outlet>
  </div>
  
  <div *ngIf="this.storeService.addProductMode" class="text-center container">
    <h1 class="text-center">Add Products</h1>
    <hr />
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <!-- ? Buttons -->
      <div class="row">
        <div class="col-sm-12">
          <button
            type="submit"
            [disabled]="!productForm.valid"
            class="btn btn-dark m-2"
          >
            Save
          </button>
          |
          <button (click)="onCancel()" type="button" class="btn btn-danger m-2">
            Cancel
          </button>
  
          <!-- ? Name -->
          <div class="form-group center">
            <label for="name">Name</label>
            <input
              type="text"
              name="name"
              id="name"
              class="form-control"
              formControlName="name"
              required
            />
          </div>
  
          <!-- ? Description -->
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              formControlName="description"
              type="text"
              name="description"
              id="description"
              class="form-control"
              rows="3"
              required
            ></textarea>
          </div>
  
          <!-- ? Image path -->
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              name="imagePath"
              id="imagePath"
              class="form-control"
              formControlName="imagePath"
              #imagePath
              required
            />
          </div>
  
          <!-- ? Weight and kind type -->
          <div class="row">
            <div class="form-group col-sm-12">
              <div class="row">
                <div class="col-sm-4">
                  <label for="weight">Weight</label>
                  <input
                    type="number"
                    name="weight"
                    class="form-control"
                    formControlName="weight"
                    id="weight"
                    required
                  />
                </div>
                <div class="col-sm-4">
                  <label for="price">Price</label>
                  <input
                    type="number"
                    name="price"
                    class="form-control"
                    formControlName="price"
                    id="price"
                    required
                  />
                </div>
                <div class="col-sm-4">
                  <label for="kind">Choose product type</label>
                  <select
                    formControlName="kind"
                    id="kind"
                    class="form-control"
                    name="kind"
                    id="kind"
                    required
                  >
                    <option selected>Choose...</option>
                    <option>Vegetable</option>
                    <option>Fruit</option>
                    <option>Foraged item</option>
                    <option>Other</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
  
          <!-- ? Image Preview -->
          <div class="form-group justify-content-center">
            <div class="row justify-content-center">
              <div class="col-xs-12 justify-content-center">
                <img
                  *ngIf="imagePath.value != ''"
                  [src]="imagePath.value"
                  class="img-responsive justify-content-center"
                  alt="Responsive Img"
                  height="550px"
                  width="600px"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <span *ngIf="!productForm.valid && productForm.touched" class="lead">
        <hr />
        Please fill the entire form!</span
      >
      <hr />
    </form>
  </div>