<!--  ? Details page -->
<div class="card mb-3">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          src="{{ product.imagePath }}"
          width="450px"
          height="400px"
          class="card-img"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title text-center lead font-weight-bold">
            {{ product.name }}
          </h5>
          <p class="card-title text-center lead font-weight-normal">
            {{ product.kind }}
          </p>
          <p class="card-text lead text-center">
            {{ product.description }}
          </p>
          <p class="card-text text-center">
            <small class="text-muted col-md-4"
              >Date added: {{ product.date | date: "medium" }}</small
            >
            <small class="text-muted col-md-4"
              >Weight: {{ product.weight }}g.</small
            >
          </p>
          <p class="text-center font-weight-bold" style="font-size: xx-large">
            Price: {{ product.price }}$
          </p>
          <div class="text-center">
            <button class="btn btn-dark m-1" (click)="onOrder()" type="button">
              Order now
            </button>
            <button class="btn btn-danger m-1" type="button" (click)="toStore()">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>