  
<!-- ? Carousel -->
<div id="product-slide" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#product-slide" data-slide-to="0" class="active"></li>
      <li data-target="#product-slide" data-slide-to="1"></li>
      <li data-target="#product-slide" data-slide-to="2"></li>
    </ol>
    <div id="image-items" class="carousel-inner">
      <div class="carousel-item active" data-interval="10000">
        <img
          src="https://storage.cloud.google.com/veggie-excess/StorePage.jpg"
          alt="Responsive image"
          class="img-fluid vw-100"
        />
        <div class="carousel-caption d-none d-block">
          <h1 class="display-2">Shop locally</h1>
          <h3 class="display-6">
              Our local selection of organic produce is the healthiest choice. </h3>
          <h3 class="display-6">Choose health</h3>
          <button type="submit" routerLink="store" class="btn btn-dark btn-lg">
            Visit Store
          </button>
        </div>
      </div>
      <div class="carousel-item" data-interval="10000">
        <img
          src="https://storage.cloud.google.com/veggie-excess/register-page.jpg"
          alt="Responsive image"
          class="img-fluid vw-100"
        />
        <div *ngIf="!isAuth" class="carousel-caption d-none d-block">
          <h1 class="display-2">Register</h1>
          <h3 class="display-6">
            Sell and buy local produce and support the community. 
          </h3>
          <button type="button" routerLink="auth" class="btn btn-dark btn-lg">
            Create Account
          </button>
        </div>
        <div *ngIf="isAuth" class="carousel-caption d-none d-block">
          <h1 class="display-2">Welcome to our shop!</h1>
          <h3 class="display-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus expedita, voluptatem natus quas pariatur veniam porro numquam labore reprehenderit architecto beatae voluptatibus incidunt eaque minima rem dolorem. Maiores, aliquam voluptatibus?.</h3>
          <button type="button" routerLink="store" class="btn btn-dark btn-lg">
            Store
          </button>
        </div>
      </div>
  
      <div class="carousel-item" data-interval="10000">
        <img
          src="https://storage.cloud.google.com/veggie-excess/contact-uss.jpg"
          alt="Responsive image"
          class="img-fluid vw-100"
        />
        <div class="carousel-caption d-none d-block">
          <h1 class="display-2">Contact Us</h1>
          <h3 class="display-6">
            We are open for ideas and collaborations.
          </h3>
          <button routerLink="contact" type="button" class="btn btn-dark btn-lg">
            Contact Page
          </button>
        </div>
      </div>
    </div>
    <a
      class="carousel-control-prev"
      href="#product-slide"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#product-slide"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  <!-- ? Jumbotron -->
  <div class="row jumbotron text-center">
    <div class="col-xs-12 col-sm-12">
      <p class="lead centeredp">
        We are the first online health store in your area. We are creating a community where your food is locally grown from a farmers or a inspired gardeners.</p>
      <p class="lead centeredp">
        Be part of the community, sell and buy locally, so we can ensure a better future for our planet, while enjoying a food full of nutrients.</p>
    </div>
  </div>
  <!-- ? Product cards-->
  <div class="container padding">
    <div class="row welcome text-center">
      <div class="col-12">
        <h1 class="display-4">Find your produce:</h1>
        <hr />
      </div>
    </div>
  </div>
  
  <div class="container padding">
    <div class="row padding">
      <div *ngFor="let productEl of product" class="col-md-4">
        <div *ngIf="product.length > 0" class="card">
          <img
            src="{{ productEl.imagePath }}"
            alt="Responsive Image"
            class="card-img-top"
            width="300px"
            height="300px"
          />
          <div class="card-body">
            <h4
              class="card-title lead font-weight-bold"
              style="font-size: larger"
            >
              {{ productEl.name }}
            </h4>
            <p class="card-text font-smaller">
              {{ productEl.description | slice: 0:100 }}...
            </p>
            <a class="btn btn-dark" (click)="toStore()">Visit Store</a>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="product.length <= 0">
      <p class="lead font-weight-bold text-center">
        We are currently out of stock
      </p>
    </div>
  </div>
  
  <!-- ? two coloumns -->
  <div class="container padding">
    <hr class="hr-coloumn" />
    <div class="row p-3 two-coloumns">
      <div class="col-lg-6">
        <h2>Visit Our Store</h2>
        <p>
          If you would like to learn more about our initiative and want to be a part of a bigger community. We organize small community garden projects, gardening, nutrition and business courses for better understanding of the food. You are welcome to come by and find more information about it.        </p>
        <p>
          We are open for ideas, discussions and future collaborations, so if you have something in mind, don't hesitate to reach out and come by our store.         </p>
        <a class="btn btn-outline-dark" routerLink="contact">Learn More</a>
      </div>
  
      <div id="image" class="col-lg-6">
        <img
          src="https://storage.cloud.google.com/veggie-excess/aside.jpg"
          class="img-fluid"
        />
      </div>
    </div>
  
    <figure>
      <div class="fixed-wrap">
        <div class="fixed"></div>
      </div>
    </figure>
  </div>